{% extends "blog/base.html" %}
{% block content %}
{% for post in posts %}

    <div class="col-lg-3 col-md-6 mb-4 shadow ">
        <div class="view overlay rounded z-depth-2 mb-4 shadowed">
                <img class="img-fluid" src="https://mdbootstrap.com/img/Photos/Others/images/43.jpg" alt="Sample image">
        </div>
        <h4 class="font-weight-bold mb-3">
            <strong>{{ post.title }}</strong>
        </h4>
        <p>by <a class="font-weight-bold">{{ post.author }}</a>, {{ post.date_posted|date:"F d, Y" }}</p>
            <p class="dark-grey-text">{{ post.content }}</p>
            <a class="btn btn-warning btn-rounded">Read more</a>
    </div>


<!--    <div class="media content-section card-columns m-3 col-md-4 col-lg-3">
        <div class="media-body">
            <img class="rounded-circle article-img" src="{{ post.author.profile.image.url }}">
            <a class="article-metadata my-4 mr-2" href="#">{{ post.author }}</a><br>
            <small class="article-metadata my-4 text-muted">{{ post.date_posted|date:"F d, Y" }}</small>
            <h2><a class="article-title" href="#">{{ post.title }}</a></h2>
            <p class="article-content">{{ post.content }}</p>
        </div>
    </div>
-->
    {% endfor %}
{% endblock content %}